
  <h1>BLOOD CULTURE</h1>

  <form id='blood_culture' action="/encounters/create_encounter" method='post'>
    <% default={
      :allowFreeText => 'true',
    } %>

    <%= hidden_field_tag("next_url", "/encounters/show_lab_tests?identifier=#{params[:identifier]}") %>

    <%= hidden_field_tag "encounter[encounter_type_name]", "LAB RESULTS" %>
    <%= hidden_field_tag "encounter[patient_id]", @patient.id %>
    <%= hidden_field_tag "encounter[encounter_datetime]", session[:datetime] ||= DateTime.now() %>
    <%= hidden_field_tag "encounter[provider_id]", session[:user_id] %>

    <%= hidden_field_tag("observations[][value_coded_or_text]", "BLOOD CULTURE") %>
    <%= hidden_field_tag("observations[][concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", session[:datetime] ||= DateTime.now()) %>

    <%= hidden_field_tag("observations[][value_coded_or_text]", "#{params[:identifier]}") %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "LAB TEST SERIAL NUMBER") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", session[:datetime] ||= DateTime.now()) %>

    <label for='growth'>Blood Culture Result</label>
    <% options=default.merge({
        :field_type => 'text',
        :id => "growth",
        :onchange => "alert('Change noticed! New value is ' + this.value)"
      }) %>
    <%= select_tag( "observations[][value_coded_or_text]", options_for_select([
          "",
          "Growth",
          "No Growth"
        ]), options) %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "OUTCOME") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", session[:datetime] ||= DateTime.now()) %>

    <label for='gram_stain'>Gram Stain Result</label>
    <% options=default.merge({
        :field_type => 'text',
        :id => "gram_stain",
        :condition=>"$('growth').value == 'Growth'"
      }) %>
    <%= select_tag( "observations[][value_coded_or_text]",
      options_for_select(@gram_stain_result), options) %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "GRAM STAIN RESULT") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", session[:datetime] ||= DateTime.now()) %>

    <label for='organisms'>Gram Stain Result Organism</label>
    <% options=default.merge({
        :field_type => 'text',
        :id => "organisms",
        :condition=>"$('growth').value == 'Growth' && $('gram_stain').value != 'No Organisms Seen'"
      }) %>
    <%= select_tag( "observations[][value_coded_or_text]",
      options_for_select(@gram_stain_organisms), options) %>
    <%= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
    <%= hidden_field_tag("observations[][concept_name]", "ORGANISM") %>
    <%= hidden_field_tag("observations[][patient_id]", @patient.id) %>
    <%= hidden_field_tag("observations[][obs_datetime]", session[:datetime] ||= DateTime.now()) %>

    <input
      type='text' name='antibiotics' tt_onLoad='generateAntibiotics()'
      tt_onUnLoad='removeAntibiotics()' tt_pageStyleClass='NoControls'
      condition = "$('growth').value == 'Growth' && $('gram_stain').value != 'No Organisms Seen'" optional />

    <!--label for='antibiotic_result'>Antibiotics Result</label-->
  <%# options=default.merge({
  :field_type => 'text',
  :id => "antibiotic_result",
  :condition=>"$('growth').value == 'Growth' && $('gram_stain').value != 'No Organisms Seen'",
  :multiple => true,
  :tt_onLoad => "antibiotics_click()"
  }) %>
  <%#= select_tag( "observations[][value_coded_or_text]",
  options_for_select(@antibiotic_results), options) %>
  <%#= hidden_field_tag("observations[][parent_concept_name]", "LAB TEST RESULT") %>
  <%#= hidden_field_tag("observations[][concept_name]", "ANTIBIOTIC RESULT") %>
  <%#= hidden_field_tag("observations[][patient_id]", @patient.id) %>
  <%#= hidden_field_tag("observations[][obs_datetime]", session[:datetime] ||= DateTime.now()) %>

    <%= submit_tag "Finish" %>
  </form>
